[submodule "frontend"]
	path = frontend
	url = https://github.com/gauravsoni1/Advanced_React_Redux_FE.git
[submodule "backend"]
	path = backend
	url = https://github.com/gauravsoni1/Advanced_React_Redux_BE
